<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-faded">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="assets/i18n-icon-150.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
    I18N
  </a>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose a domain</button>
          <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <button *ngFor="let domain of domains" class="dropdown-item" [routerLink]="['/domain/', domain.id]">
              {{domain.code}} - {{domain.description}}
            </button>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-primary" routerLink="/domain/">Add a domain</button>
      </li>
    </ul>

    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Domain">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Open</button>
    </form>

  </div>

</nav>
