<div class="container" *ngIf="domain">

  <app-domain-header [domain]="domain"></app-domain-header>

  <br>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-default" (click)="searchMessages()">Search</button>
      <button class="btn btn-default" (click)="displayNewMessage()">Add static message</button>
    </div>
  </div>
  <form #keyMessageForm="ngForm">
    <div *ngIf="messageEditable" class="row">
      <div class="col-sm-4 align-self-center">
        <input [(ngModel)]="editableKeyMessage.key"
               class="form-control"
               id="keyMessageKey"
               name="keyMessageKey"
               placeholder="Key"
               aria-label="Key"
               required/>
      </div>
      <div class="col-sm-8 align-self-center">
        <input [(ngModel)]="editableKeyMessage.content"
               class="form-control"
               id="keyMessageContent"
               name="keyMessageContent"
               placeholder="Content"
               aria-label="Content"
               required/>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-default">
          <tr>
            <th style="width: 20%">Key</th>
            <th style="width: 80%">Content</th>
            <th style="width: 5%"><i class="fa fa-plus" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of messages">
            <td>{{message.key}}</td>
            <td>{{message.content}}</td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
